
body{
    width: 100%;
    min-height:100%;
    margin: 0;
    background-color:rgb(68, 68, 71);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
}


                                        /*------------------------------
                                         ------------ FOOTER -----------
                                         -------------------------------*/
#footer a{
    text-decoration:none;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    font-family: sans-serif;
    font-size: 16px;
    color: grey;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgb(34,34,35);
    text-align: center;
}

#footer a:hover{
    color:rgb(0,255,0);
}

#footer img{
    height: 2%;
    width: 2%;
}


                                        /*------------------------------
                                         -------- PRODUCT PAGES --------
                                         -------------------------------*/
body{
    margin: 0;
    background-color:rgb(68, 68, 71);
}

/* List on the left of product page with Links*/
#list{
    display: block;
    float: left;
    margin-top:4%;
    margin-left:4%;
    margin-bottom:4%;
    /*margin-top:50px;
    margin-left:100px;*/
    background-color: #222222;
    width:20%;
    /*width:300px;*/
    padding-top:1.2%;
    padding-bottom:1.2%;
    padding-left:1.8%;
    /*
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;*/
    color: rgb(0,255,0);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#list .subcat{
    padding-left:1em
}

#list a{
    color: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-decoration: none;
}

#list a:hover, a h3:hover{
    color: rgb(0,255,0);
}



/* Multiple Product Page*/
#products {
    float: left;
    margin: 4% 4%;
    /* margin: 50px 50px; */
    background-color: #222222;
    width: 55%;
    max-height:800px;
    min-height:600px;
    overflow-y:scroll;
}


#products .item {
    display: block;
    float: left;
    width: 26%;
    height: 300px;
    margin: 1%;
    /*margin: 10px;*/
    padding:10px;
    border: 2px solid #73AD21;
    background-color: black; 
    
}

#products h1{
    margin: 0px 10px;
    font-size: 15px;
    font-family: "Palatino Linotype";
     font-weight: lighter;
     color: white;
}

#products h1.warning{
    color: white;
    margin:50px;
    font-size: 20px;
    font-family: "Palatino Linotype";
    font-weight: lighter;
}

#products h2{
    font-size: 19px;
    text-decoration: underline rgb(0,255,0);
    text-decoration-style: solid;
    text-align: center;
    font-family: "Book Antiqua";
    color:rgb(0,255,0);
}

#products img{
    position: static;
    display: block;
    width: 140px;
    height: auto;
    margin: auto;
}

#products img:hover{
    border: 3px solid rgb(0,255,0);
    opacity: 0.44;
}

/* Individual Product Page*/
#product{
    float:left;
    background-color: #222222;
    margin: 4% 4%;
    background-color: #222222;
    border: 1px solid #222222;
    width:50%;
    height:auto;
}


#product .item {
    float: left;
    margin: 10px;
    padding:10px;
    background-color: #222222;
}

#product h3{
    text-align: center;
    font-family: "Book Antiqua";
    font-size: 23px;
    color: rgb(0,255,0);
    font-weight: lighter;
}

#product h2{
   font-family: "Book Antiqua";
    color: rgb(37, 196, 37);
}

#product p{
    color: #c5cddb;
}

#product img{
    width:200px;
    height: auto;
    float:left;
    padding: 3%;
}

#product .item button{
  background-color: #676d67;
  color: black;
  padding: 14px 30px;
  text-align: center;
  font-size: 13px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  float: left;
  border: 2px solid rgb(0,255,0);
  border-radius: 8px;
}

#product button:hover {
    background-color: #a0aaa0;
    font-weight:bold;
}

#product input {
    width:8%;
    margin:1%;
    padding: 1.5%;
    font-size:14px;
}


                                        /*------------------------------
                                         -------- CONTACT US  ----------
                                         -------------------------------*/
/* General */
#contact {
    margin: 0;
    padding: 50px 100px;
    font-family: "Optima, San-serif", Optima, sans-serif;
    font-size: 18px;
    text-align: left;
    color: aliceblue;
    background-color: rgb(68,68,71);
}

/* Contact Form */
#contact div.s1{
    background-color:rgb(34,34,35);
    padding: 10px 20px;
}

#contact h2 {
    font-size: 30px;
    letter-spacing: 2px;
    color: white;
    font-family: "Optima, San-serif", Optima, sans-serif;

}

#contact input, textarea{
    width: 50%;
    padding: 10px;
    border: 1px solid rgb(68,68,71);
    color: black;
    font-size:16px;
}

#contact textarea{
    width: 62.5%;
    height: 200px;
    max-width:62.5%;
    max-height:320px;
    line-height: 18px;
    color: grey;
}

#contact button{
    background-color: aliceblue;
    color: rgb(68,68,71);
    border: 1px solid rgb(68,68,71);
    padding: 5px 10px;
    font-size: 18px;
}


#contact label{
    display:inline-block;
    /*aligned the input boxes*/
    width: 12%;
}

#contact hr{
    border-color:aliceblue;
    size:5px;

}

#contact div.s2 h2{
    text-align: center;
}
#contact div.box{
    height: 600px;
    width: 28%;
    padding: 5px;
    background-color: rgb(34,34,35);
    float:left;
    margin: 20px;
}

#contact div.box img{
    width: 80px;
    /*to align images in the center*/
    display:block;
    margin: 0 auto;
}

#contact h3{
    letter-spacing: 2px;
    color: white;
    text-align: center;
    font-family: "Optima, San-serif", Optima, sans-serif;
}

#contact div.box .textbox{
    line-height: 15px;
    font-size: 16px;
    color: aliceblue;
    padding: 5px 25px;
    line-height: 1.6;
}

#contact div.textbox .boxh{
    color:white;
    font-weight:bold;

}

                                    /*------------------------------
                                     --------- ABOUT US  -----------
                                     -------------------------------*/
#about .top{
    position: relative;
    text-align: center;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    margin: 0;
    font-family: "Optima, San-serif", Optima, sans-serif;
    color: aliceblue;
    background-color: rgb(68,68,71);
}

#about .t-text{
    font-size: 70px;
    font-weight:bold;
    letter-spacing: 2px;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about .description {
    font-size:24px;
     margin: 5% 5%;
     background-color: rgb(34,34,35);
     padding:2.5% 2.5%;
     line-height:1.5;
     color:white;
 }

#about h2{
    text-align:center;
}

#about .description .employees{
    width: 45%;
    margin: 0 auto;
    /*background-color:white;*/
}

#about .description .employee {
    display:inline-block;
    vertical-align: top;
    width: 42%;
    padding: 1.5%;
    min-height:50%;
    overflow: hidden;
    margin: 1.5%;
    border: 3px solid grey;
    background-color: rgb(68,68,71);
}

#about .description .employee img{
    width: 60%;
    display:block;
    margin: 0 auto;
}

#about .description .employee h3{
    margin-left: 1.5%;
    font-size:18px;
    line-height:0;
}

#about .description .employee h4{
    margin-left: 1.5%;
    font-size:18px;
    line-height:0;
    font-weight: normal;
}

#about .description .employee p{
    margin-left: 1.5%;
    font-size:18px;
}

#about hr{
    border: 1px solid grey;
}

/*CART*/
#cart .display {
    float: left;
    margin: 4% 4%;
    /* margin: 50px 50px; */
    background-color: #222222;
    width: 55%;
    min-height:600px;
    display:inline-block;
    padding-bottom: 1%;
}

#cart .display .item {
    width:90%;
    display: inline-block;
    float: left;
    margin: 1%;
    margin-left: 3%;
    /*margin: 10px;*/
    padding:10px;
    border: 2px solid #73AD21;
    background-color: black;

}

#cart h3{
    text-align: center;
    font-family: "Book Antiqua";
    font-size: 16px;
    color: rgb(0,255,0);
    font-weight: lighter;
}

#cart h1{
   color:white;
    margin-left: 3%;
    float:left;
}

#cart h2{
    font-size: 16px;
    font-family: "Book Antiqua";
    color: white;

}

#cart h4{
    font-size: 16px;
    font-family: "Book Antiqua";
    color: white;
    margin-left:4%;
}

#cart p{
    color: #c5cddb;
}

#cart img{
    width:180px;
    height: auto;
    float:left;
    padding: 3%;
}

#cart .item button{
    background-color: #676d67;
    color: black;
    padding: 2% 2% 2% 2%;
    text-align: center;
    font-size: 13px;
    margin: 0 auto;
    opacity: 0.6;
    line-height: 0;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    float: left;
    border: 2px solid rgb(0,255,0);
    border-radius: 8px;
    height:5px;
}

#cart  button.all{
     font-weight: bold;
    float:right;
    background-color: #676d67;
    color: white;
    padding: 2% 2% 2% 2%;
    text-align: center;
    font-size: 13px;
    margin-top: 2%;
    margin-right: 5%;
    line-height: 0;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    height:50px;

}


#cart button:hover {
     background-color: #a0aaa0;
     font-weight:bold;
 }

#cart input {
    width: 5%;
}

/* CHECKOUT */

#checkout .display {
    float: left;
    margin: 4% 4%;
    /* margin: 50px 50px; */
    background-color: #222222;
    width: 55%;
    min-height:600px;
    display:inline-block;
    padding: 1%;

}


#checkout h3{
    text-align: center;
    font-family: "Book Antiqua";
    font-size: 14px;
    color: white;
    font-weight: lighter;
}

#checkout h1{
    color:white;
    margin-left: 3%;
    float:left;
}

#checkout h2{
    font-size: 16px;
    font-family: "Book Antiqua";
    color: white;
    text-align: center;
margin:0;
}

#checkout h4{
    font-size: 16px;
    font-family: "Book Antiqua";
    color: white;
    margin-left:2%;
}

#checkout p{
    color: #c5cddb;
}

#checkout img{
    width:70%;
    height: auto;
    float:left;
    padding: 3%;
}

#checkout  button{
    font-weight: bold;
    float:right;
    background-color: #676d67;
    color: white;
    padding: 2% 2% 2% 2%;
    text-align: center;
    font-size: 13px;
    margin-top: 2%;
    margin-right: 5%;
    line-height: 0;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    height:50px;

}

#checkout button:hover {
    background-color: #a0aaa0;
    font-weight:bold;
}

#checkout .grid-container {
    width:94%;
    margin-left:2%;
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: #2196F3;
}
#checkout .grid-item {
    background-color: grey;
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    padding: 4%;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

#checkout label{
     display:inline-block;
     /*aligned the input boxes*/
     width: 20%;
 }

#checkout form{
    padding: 5%;
}

#checkout form div.address input {
  width:30%;
}

#checkout form button{
    margin-right:0;
}